<section class="scrollable-content container-fluid dashboard">
  <div class="panel panel-default" ng-repeat="challenge in game.challenges | filter:challengeAvailable">
    <div class="panel-heading challenge">
      <h3 class="panel-title">{{challenge.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <a class="list-group-item task" ng-class="{current: taskCurrent(task), solved: taskSolved(task)}" ng-repeat="task in challenge.tasks | filter:taskAvailable" ng-click="goTask(task)" ng-bind-html="( task.text.title[lang] | htmlToPlaintext ) + chevron_right">
        </a>
      </div>
    </div>
    <!--div class="panel-footer"><i class="fa fa-check-square"></i></div-->
  </div>
</section>

<div class="preload-html" ng-bind-html="gameGetCurrentTask().text.pre[lang] + gameGetCurrentTask().text.post[lang]">
</div>

