<div id="task-scrollable" class="scrollable-content">
  <section class="section container-fluid">
    <h1 class="page-header" ng-bind-html="activeTask.text.title[lang]"></h1>
  </section>

  <section class="section container-fluid task-content">
    <div class="bubble left">
      <span class='tail'>&nbsp;</span>
      <div class="task-pre" ng-bind-html="activeTask.text.pre[lang]">
      </div>
    </div>
    <form class="task-condition" ng-include="'conditions/base.html'">
    </form>
    <div class="task-post" ng-bind-html="activeTask.text.post[lang]" ng-show="taskSolved(activeTask)">
    </div>  
  </section>
</div>