@import "mobile-angular-ui/src/less/mobile-angular-ui.less";
@import "mixins.less";
@import "variables.less";
@import "animate-slide.less";

.panel {
  margin:1.5em 0;
}

.task-content img {
  width:100%;
  display:block;
  margin-bottom:1em;
}

.solved {
}

.current {
  animation: glow 1s infinite 0s alternate;
  animation-timing-function: linear;
}

/* Standard syntax */
@keyframes glow {
    from {text-shadow: 0 0 0.2em #FFEE2C, 0 0 0.2em #FFEE2C, 0 0 0.2em #FFEE2C;}
    to   {text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF, 0 0 0.2em #FFF;}
}





.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}


/* scroll inside */
.slide-direction-inside
{
  &.slide.ng-enter {
      transform:translate3d(100%,0,0); //left: 100%;
  }
  &.slide.ng-enter-active {
      transform:translate3d(0%,0,0); //left: 0;
  }
  &.slide.ng-leave {
      transform:translate3d(0%,0,0); //left: 0;
  }
  &.slide.ng-leave-active {
      transform:translate3d(-100%,0,0); //left: -100%;
  }
}

/* scroll outside */
.slide-direction-outside
{
  &.slide.ng-enter {
      transform:translate3d(-100%,0,0); //left: -100%;
  }
  &.slide.ng-enter-active {
      transform:translate3d(0%,0,0); //left: 0;
  }
  &.slide.ng-leave {
      transform:translate3d(0%,0,0); //left: 0;
  }
  &.slide.ng-leave-active {
      transform:translate3d(100%,0,0); //left: 100%;
  }
}

.ng-enter {
  visibility:hidden;
}
.ng-enter.ng-enter-active {
  visibility:visible;
}

.preload-html {
  display:none;
}

.panel .list-group {
  margin-bottom:0;
}

.panel-heading,
.panel .list-group-item {
  padding:1em 1.3em;
}

.panel-body {
  padding:0;
}

.list-group-item:last-child {
  border:none;
}

.container-fluid {
  padding-left: 1em;
  padding-right: 1em;
}

.dashboard .panel {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

.dashboard .panel-title {
  //text-decoration:underline;
  font-size:1.6em;
  font-weight:bold;
}

.dashboard {
  font-weight:bold;
}